{% extends 'base.html.twig' %}
{% block body %}
    <div class="loginmodal-container">
        <h1>Connectez-vous à Gestion de Stock</h1><br>
        {% if error is defined %}
            {% if error %}
                <div  class="alert alert-warning">
                     <strong>Warning!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        {% endif %}
        <form action="{{ path("login_check", {}) }}" method="POST" >
            <input type="text" required="required" class="form-control" value="{{ last_username }}" name="_username" id="username" placeholder="Username">
            <input type="password" class="form-control" name="_password" required="required" id="password" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            <div class="checkbox pull-left">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Remember me</label>
                </label>
            </div>
        </form>

        <div class="login-help">
            <a href="{{ path('user_registration') }}">Register</a> - <a href="#">Forgot Password</a>
        </div>
    </div>


    {#
    <form action="{{ path("login_check", {}) }}" method="POST" >
        <div class="form-group">
            <label for="inputUsernameEmail">Username</label>
            <input type="text" required="required" class="form-control" value="{{ last_username }}" name="_username" id="username">
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="_password" required="required" id="password">
        </div>

        <div class="checkbox pull-left">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember me</label>
            </label>
        </div>

        <button type="submit" class="pull-right btn btn btn-primary">
            Log In
        </button>
    </form>
    #}
{% endblock %}

