{# a *-to-many collection of values #}
{% if value is iterable %}
    {% if value|length > 0 %}
        {% for category in value %}
            <a href="{{ path('easyadmin', link_parameters|merge({ referer: '', id: category.id })) }}">{{ category.name }}</a>
        {% endfor %}
    {% else %}
        <span class="badge">{{ value|length }}</span>
    {% endif %}
{% else %}
    {{ value|easyadmin_truncate }}
{% endif %}
