{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ form_start(form) }}
                    <legend class="text-center">Register</legend>
                    <fieldset>
                        <legend>Account Details</legend>
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                Register
                            </button>
                            <a href="{{ path('login') }}">Already have an account?</a>
                        </div>
                    </div>
                {{ form_end(form) }}

            </div>

        </div>
    </div>
    {#
    <form action="{{ path("login_check", {}) }}" method="POST" >
        <div class="form-group">
            <label for="inputUsernameEmail">Username</label>
            <input type="text" required="required" class="form-control" value="{{ last_username }}" name="_username" id="username">
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="_password" required="required" id="password">
        </div>

        <div class="checkbox pull-left">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember me</label>
            </label>
        </div>

        <button type="submit" class="pull-right btn btn btn-primary">
            Log In
        </button>
    </form>
    #}
{% endblock %}